<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="/styling/home.css">
    <link rel="icon" type="image/png" href="/favicon.ico">
</head>
<body>
    <div id="title">
        <h1><center>CS 253 - Web-Development</center></h1>
        <h3><center> A course delivered by udacity.</center></h3>
    </div>
    <br>
    <div id="course_details">
            <li>Course Details
                <ol>
                    <a href="https://www.udacity.com/course/web-development--cs253"  target="_blank"><li>CS 253</li></a>    
                </ol>
            </li>
    </div>
    <div id="link_title">
        <li>Projects</li>
    </div>
    <div id="links">
        <ol>
            <li>Unit 1
                <ol>
                    <a href="/unit1"  target="_blank"><li>Hello Udacity</li></a>    
                </ol>
            </li>
            
            <li>Unit 2
                <ol>
                    <a href="/unit2/birthday"  target="_blank"><li>Birthday</li></a>
                    <a href="/unit2/rot13"  target="_blank"><li>Rot13</li></a>
                    <a href="/unit2/signup"  target="_blank"><li>Sign Up</li></a>
                    <a href="/unit2/fizzbuzz/?n=15"  target="_blank"><li>Fizz Buzz</li></a>
                    <a href="/unit2/shoppinglist"  target="_blank"><li>Shopping List</li></a>
                </ol>
            </li>

            <li>Unit 3, 5, 6
                <ol>
                    <a href="/unit3/ascii"  target="_blank"><li>Ascii with map and caching</li></a>
                    <a href="/unit3/blog/newpost"  target="_blank"><li>Blog with json and caching</li></a>
                </ol>
            </li>
            
            <li>Unit 4
                <ol>
                    <a href="/unit4/visits"  target="_blank"><li>Visits</li></a>
                    <a href="/unit4/signup"  target="_blank"><li>Sign Up</li></a>
                </ol>
            </li>
        </ol>
    </div>
    <div id="git">
        <li>Source Code
            <ol>
                <a href="https://github.com/pssukhwani/Udacity-CS253-Solution.git"  target="_blank"><li>GitHub</li></a>
            </ol>
        </li>
    </div>
    <br>
    <footer>
        Created by Pradeep Sukhwani
    </footer>
</body>
</html>
