body {
    background-color: #848482;
}

#title h1 {
    color: #000000;
}
#title h3 {
    color: #000000;
}

#course_details li{
    font-weight: bold;
    width: 900px;
    margin: 0 auto;
    padding: 10px;
}

#course_details li ol{
    list-style-image: url("../styling/nested.png");
    padding:5px 0 5px 18px;
    font-size:15px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}

#course_details a{
    color: #FFFAF0;
    text-decoration:none;
}

#link_title {
    color: #000000;
    font-weight: bold;
    width: 900px;
    margin: 0 auto;
    padding: 10px;
}
#links {
    color:#000000;
}

#links ol {
    font-size:18px;
}

#links ol li {
    font-weight: bold;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}

#links a{
    color: #FFFAF0;
    text-decoration:none;
}

#links ol li ol {
    list-style-image: url("../styling/nested.png");
    padding:5px 0 5px 18px;
    font-size:15px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}

#links ol li ol li {
    height:15px;
    margin-left:10px;
}
#git li{
    font-weight: bold;
    width: 900px;
    margin: 0 auto;
    padding: 10px;
}

#git li ol{
    list-style-image: url("../styling/nested.png");
    padding:5px 0 5px 18px;
    font-size:15px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}

#git a{
    color: #FFFAF0;
    text-decoration:none;
}

footer {
    text-align: center;
    color: #FFFAF0;
    font-size: small;
}